<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-styles/paper-styles.html">

<!--
`phrase-loader`
polymer phrase loader

@demo demo/index.html 
-->

<dom-module id="phrase-loader">
  <template>
    <style>
#loader-container {
  position:absolute;
  z-index:9999;
  min-width:100%;
  min-height:100%;
  top:0;
  left:0;
  background-color: rgba(63,81,181,0.8);
}
#loader-container.active{
  display:block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  opacity: 1;
}
  #loader-container.stopped{
    -webkit-animation: display-none-transition 2s both;
    animation: display-none-transition 2s both;
    transition: opacity 1s ease;
    opacity:0;

  }
  @-webkit-keyframes display-none-transition {
    0% {
      display: block;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
    75%{
      display:none;
    }
    100%{

      z-index:-9999;
    }
  }
  @keyframes display-none-transition {
    0% {
      display: block;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    }
    75%{
      display:none;
    }
    100%{

      z-index:-9999;
    }

    ￼
  }

    </style>
    <div id="loader-container" class$="[[state]] layout horizontal center center-justified fit">
      <div id="phrase_box" class="layout horizontal center-center">
        <svg width="100%" height="100%">
          <defs>
          <mask id="mask" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse">
          <linearGradient id="linearGradient" gradientUnits="objectBoundingBox" x2="0" y2="1">
          <stop stop-color="white" stop-opacity="0" offset="0%"/>
          <stop stop-color="white" stop-opacity="1" offset="30%"/>
          <stop stop-color="white" stop-opacity="1" offset="70%"/>
          <stop stop-color="white" stop-opacity="0" offset="100%"/>
          </linearGradient>
          <rect width="100%" height="100%" fill="url(#linearGradient)"/>
          </mask>
          </defs>
          <g width="100%" height="100%" style="mask: url(#mask);">
          <g id="phrases">
          <template is="dom-repeat" items="[[_phrases]]">
            <text fill="White" x="50" y$="[[yOffset(index)]]" font-size="18" font-family="Arial">[[item]]...</text>
            <g transform$="translate(10 [[transformOffset(index)]]) scale(.9)">
            <circle id$="loadingCheckCircleSVG-[[index]]" fill="rgba(255,255,255,0)" cx="16" cy="16" r="15">
            </circle>
            <polygon points="21.661,7.643 13.396,19.328 9.429,15.361 7.075,17.714 13.745,24.384 24.345,9.708 " fill="rgba(255,255,255,1)" id$="loadingCheckSVG-[[index]]">
            </polygon>
            <path d="M16,0C7.163,0,0,7.163,0,16s7.163,16,16,16s16-7.163,16-16S24.837,0,16,0z M16,30C8.28,30,2,23.72,2,16C2,8.28,8.28,2,16,2 c7.72,0,14,6.28,14,14C30,23.72,23.72,30,16,30z" fill="white"></path>
            </g>
          </template>
          </g>
          </g>
        </svg>
      </div>
    </div>
  </template>
<script src="lib/polymer-svg-template.js"></script>
<script src="lib/phrase-loader.js"></script>
</dom-module>
